<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="..\..\static\css\style.css">
	<link rel="stylesheet" href="..\..\static\css\stylefonts.css">
	<script type="text/javascript" src="..\..\static\jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="..\..\static\responsiveCarousel.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script type="text/javascript">
		var _rys = jQuery.noConflict();
		_rys("document").ready(function(){
		
			_rys(window).scroll(function () {
				if (_rys(this).scrollTop() > 220) {
					_rys('.nav-container').addClass("f-nav");
				} else {
					_rys('.nav-container').removeClass("f-nav");
				}
			});

		});
	</script>
</head>
<body>
	<div class="header">
		<div class="logo_wrapper">
			<h1>profycar</h1>
			<img id="hexagonlogo" src="..\..\static\css\hexagonlogo.png" alt="">
		</div>
		<div class="contacts">
			<div class="contact_wrapper">
				<img src="..\..\static\css\mail.png" alt=""><span><b>E-mail:</b> profycar889@gmail.com</span>
			</div>
			<div class="contact_wrapper">
				<img src="..\..\static\css\phone.png" alt=""><span><b>Phone:</b> +38(050)658-76-02</span>
			</div>
		</div>
	</div>
	<div class="nav-container">
		<div class="nav">
			<ul>
				<li><a href="">Главная</a></li>
				<li><a href="">Оставить заявку</a></li>
				<li><a href="">Как добраться</a></li>
			</ul>
			<div class="clear"></div>
		</div>
	</div>
	<div class="content_wrapper">
		<div class="mi_wrapper">
			<div class="main_info">
				<div id="w">
			    	<nav class="slidernav">
			      		<div id="navbtns" class="clearfix">
			       			<a href="#" class="previous"><img src="../../static/css/prev.png" alt=""></a>
			       			<a href="#" class="next"><img src="../../static/css/next.png" alt=""></a>
			      		</div>
			    	</nav>
			    	<div class="crsl-items" data-navigation="navbtns">
			      		<div class="crsl-wrap">
			       			<div class="crsl-item">
			         			<div class="crsl-item_wrapper">
			         				<h1>Диагностика автомобилей</h1>
			         			</div>
			       			</div><!-- post #1 -->
			        
			       			<div class="crsl-item">
			         			<div class="crsl-item_wrapper">
			         				<h1>Ремонт автоэлектрооборудования</h1>
			         			</div>
					     	</div><!-- post #2 -->
			        
			       			<div class="crsl-item">
			         			<div class="crsl-item_wrapper">
			         				<h1>Чистка впрьIска</h1>
			         			</div>
							</div><!-- post #3 -->
			      		</div><!-- @end .crsl-wrap -->
			    	</div><!-- @end .crsl-items -->
			  	</div><!-- @end #w -->
			  	<script type="text/javascript">
				$(function(){
	  				$('.crsl-items').carousel({
	    				visible: 1,
		   				itemMinWidth: 180,
	    				itemEqualHeight: 370,
	    				itemMargin: 9,
	  				});
		  
					$("a[href=#]").on('click', function(e) {
			   			e.preventDefault();
			  		});
				});
				</script>
			</div>
		</div>
	</div>
	<div class="blog">
		<div class="post_wrapper">
			{% for post in posts %}
			    <div class="post">
			        <p class="published_date">{{ post.published_date }}</p>
			        <h1 class="post_title"><a href="">{{ post.title }}</a></h1>
			        {% if post.picrel %}
			        		<img src="{{ MEDIA_URL }}{{ post.picrel.url }}" alt="nope">
			        		{% endif %}
			        <p>{{ post.text|linebreaksbr }}</p>
			    </div>
			{% endfor %}
		</div>
	</div>
	<div class="footer">
		<div class="soc_media_wrapper">
			<div class="soc_media">
				<a href=""><img src="..\..\static\css\telegram.png" alt=""></a>
				<a href=""><img src="..\..\static\css\viber.png" alt=""></a>
			</div>
		</div>
		<div class="down_footer">
			<span>© ЧП «Profycar», 2017</span>
		</div>
	</div>
</body>
</html>