body {
	margin: 0;
	padding: 0;
}
.header {
	width: 100%;
	height: 250px;

	background-color: #0a0514;

	display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;

    flex-flow: row wrap;
    justify-content: space-between;
}
.logo_wrapper {
	margin-top: 20px;
	margin-left: 135px;
	width: 40%;
	max-width: 640px;
	max-height: 215px;

	display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;

    flex-flow: nowrap;
    justify-content: space-around;
}
#hexagonlogo {
	-webkit-transition: all 0.6s ease;;
    -moz-transition: all 0.6s ease;;
    -o-transition: all 0.6s ease;;
    transition: all 0.6s ease;
}
#hexagonlogo:hover {
	-webkit-transform: rotateZ(360deg);
    -ms-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}
.logo_wrapper h1 {
	margin-top: 80px;
	font-family: Cyr;
	font-size: 3.7em;
	text-shadow: #fff 0 0 15px;
}
.contacts {
	width: 32%;
	margin-top: 20px;
	margin-right: 20px;
	color: #fff;
}
.contacts span {
	font-family: Product Sans;
	font-size: 1.2em;
}
.contacts img {
	max-width: 36px;
	max-height: 36px;
	border-radius: 7px;
	margin-right: 10px;
}
.contact_wrapper {
	margin-bottom: 20px;
	display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;

    flex-flow: nowrap;
    justify-content: flex-start;
}
.lorem {
	font-size: 25pt;
}
.nav-container { 
	background: url('navbg.png') repeat-x 0 0;
	max-height: 50px;
}
.f-nav { 
	z-index: 9999; position: fixed; left: 0; top: 0; width: 100%;
}

.nav { 
	height: 50px;
	padding-right: 10%;

	display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;

    flex-flow: nowrap;
    justify-content: flex-end;
}
.nav ul { 
	list-style: none; 
	margin: 0;
	padding: 0;
}
.nav ul li{
	float: left;
	margin: 15px 30px;
}
.nav ul li a { 
	text-decoration: none;
	font-family: GothamPro;
	font-size: 1.3em;
	color: #fff;
	-webkit-transition: all 0.5s ease;;
    -moz-transition: all 0.5s ease;;
    -o-transition: all 0.5s ease;;
    transition: all 0.5s ease;
}
.nav ul li a:hover {
	border-bottom: solid #fff 3px;
}
.content_wrapper {
	background-image: url('qa.jpg');
	background-attachment: fixed;
}
.main_info {
	margin: 0 auto;
	width: 70%;
	height: 350px;
	max-height: 350px;

	background-image: url('bg1list.jpg');
	background-repeat: repeat-y;

	box-shadow: inset 0px 0px 20px rgba(3,0,0,1.0);
}
#navbtns {
	padding-top: 10px;
	width: 135px;
	margin: 0 auto;
}
.clearfix {
	color: #fff;
	text-decoration: none;
	font-family: Product Sans;
	font-size: 1.6em;
}
.previous {
	margin-right: 10%;

	opacity: 0.7;
}
.next {
	opacity: 0.7;
}
.previous:hover {
	opacity: 1.0;
}
.next:hover {
	opacity: 1.0;
}
.crsl-item_wrapper {
	display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;

    flex-flow: row wrap;
    justify-content: space-around;
}
.crsl-item_wrapper h1 {
	color:  #0a0514;
	text-align: center;
	font-size: 2.5em;
	font-family: Alien;
	text-shadow: #fff 0 0 15px;
}
.blog {
	margin-top: -20px;
	background-color:  #0a0514;
}
.post {
	width: 80%;
	margin: 0 auto;
	color: #fff;
}
.post_title a {
	text-decoration: none;
	color: #fff;
}