body {
	margin: 0;
	padding: 0;
}
.header {
	width: 100%;
	height: 250px;

	background-color: #0a0514;

	display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;

    flex-flow: row wrap;
    justify-content: space-between;
}
.logo_wrapper {
	margin-top: 20px;
	margin-left: 135px;
	width: 40%;
	max-width: 640px;
	max-height: 215px;

	display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;

    flex-flow: nowrap;
    justify-content: space-around;
}
#hexagonlogo {
	-webkit-transition: all 0.6s ease;;
    -moz-transition: all 0.6s ease;;
    -o-transition: all 0.6s ease;;
    transition: all 0.6s ease;
}
#hexagonlogo:hover {
	-webkit-transform: rotateZ(360deg);
    -ms-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}
.logo_wrapper h1 {
	margin-top: 80px;
	font-family: Cyr;
	font-size: 3.7em;
	text-shadow: #fff 0 0 15px;
}
.contacts {
	width: 32%;
	margin-top: 20px;
	margin-right: 20px;
	color: #fff;
}
.contacts span {
	margin-top: 2%;
	font-family: Product Sans;
	font-size: 1.1em;
}
.contacts img {
	max-width: 36px;
	max-height: 36px;
	border-radius: 7px;
	margin-right: 10px;
}
.contact_wrapper {
	margin-bottom: 20px;
	display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;

    flex-flow: nowrap;
    justify-content: flex-start;
}
.lorem {
	font-size: 25pt;
}
.nav-container { 
	background: url('navbg.png') repeat-x 0 0;
	max-height: 50px;
}
.f-nav { 
	z-index: 9999; position: fixed; left: 0; top: 0; width: 100%;
}

.nav { 
	height: 50px;
	padding-right: 10%;

	display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;

    flex-flow: nowrap;
    justify-content: flex-end;
}
.nav ul { 
	list-style: none; 
	margin: 0;
	padding: 0;
}
.nav ul li{
	float: left;
	margin: 15px 30px;
}
.nav ul li a { 
	text-decoration: none;
	font-family: GothamPro;
	font-size: 1.3em;
	color: #fff;
	-webkit-transition: all 0.5s ease;;
    -moz-transition: all 0.5s ease;;
    -o-transition: all 0.5s ease;;
    transition: all 0.5s ease;
}
.nav ul li a:hover {
	border-bottom: solid #fff 3px;
}
.content_wrapper {
	background-image: url('qa.jpg');
	background-attachment: fixed;
}
.main_info {
	margin: 0 auto;
	width: 70%;
	max-width: 1110px;
	height: 350px;
	max-height: 350px;

	background-image: url('bg1list.jpg');
	background-repeat: repeat-y;

	box-shadow: inset 0px 0px 20px rgba(3,0,0,1.0);

	border: 3px solid #0a0514;
	border-top: 0px;
}
#navbtns {
	padding-top: 10px;
	width: 135px;
	margin: 0 auto;
}
.clearfix {
	color: #fff;
	text-decoration: none;
	font-family: Product Sans;
	font-size: 1.6em;
}
.previous {
	margin-right: 10%;
}
.previous img {
	opacity: 0.7;

	-webkit-transition: all 0.6s ease;;
    -moz-transition: all 0.6s ease;;
    -o-transition: all 0.6s ease;;
    transition: all 0.6s ease;
}
.next img {
	opacity: 0.7;

	-webkit-transition: all 0.6s ease;;
    -moz-transition: all 0.6s ease;;
    -o-transition: all 0.6s ease;;
    transition: all 0.6s ease;
}
.previous img:hover {
	opacity: 1.0;
}
.next img:hover {
	opacity: 1.0;
}
.crsl-item_wrapper {
	display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;

    flex-flow: row wrap;
    justify-content: space-around;
}
.crsl-item_wrapper h1 {
	color:  #0a0514;
	text-align: center;
	font-size: 2.5em;
	font-family: Alien;
	text-shadow: #fff 0 0 15px;
}
.blog {
	margin-top: -20px;
	background-color:  #161023;
	box-shadow: 0px -2px 20px rgba(3,0,0,1.0);
}
.element_wrapper {
	background-color:  #161023;
	box-shadow: 0px -2px 20px rgba(3,0,0,1.0);
}
.post_wrapper{
	width: 80%;
	margin: 0 auto;
	box-shadow: 0px 0px 36px rgba(10,5,20,1.0);
	background-color:  #0a0514;
}
.post {
	padding: 30px;
	color: #fff;
}
.post_title a {
	text-decoration: none;
	color: #fff;
}
.published_date {
	font-size: 0.8em;
	font-family: GothamPro;
	color: #99e7ea;
}
.post_title {
	font-family: Product Sans;
}
.footer {
	background-image: url('qa.jpg');
	background-attachment: fixed;
}
.soc_media_wrapper {
	max-height: 124px;
}
.soc_media {
	width: 160px;
	margin: 0 auto;
	padding: 30px 0;

	display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;

    flex-flow: nowrap;
    justify-content: space-between;
}
.soc_media a img {
	width: 60px;
	height: 60px;
	border-radius: 7px;

	opacity: 0.7;

	-webkit-transition: all 0.6s ease;;
    -moz-transition: all 0.6s ease;;
    -o-transition: all 0.6s ease;;
    transition: all 0.6s ease;
}
.soc_media a img:hover {
	width: 70px;
	height: 70px;
	opacity: 1.0;
}
.down_footer {
	background-color: rgba(0,0,0,0.5);

	padding: 30px 0;

	display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;

    flex-flow: nowrap;
    justify-content: space-around;
}
.down_footer span {
	font-family: sans-serif;
	color: #fff;
}
.location_wrapper {
	width: 80%;
	margin: 0 auto;
	box-shadow: 0px 0px 36px rgba(10,5,20,1.0);
	background-color:  #0a0514;

	display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;

    flex-flow: nowrap;
    justify-content: space-around;
}
#location_map {
	margin: 50px 0;
	border: ridge 4px #7c778d;
	border-radius: 3px;
}