@font-face {
    font-family: Cyr; 
    src: url(10322.ttf); 
}
@font-face {
    font-family: Product Sans; 
    src: url(10916.otf); 
}
@font-face {
	font-family: GothamPro;
	src: url(11028.ttf);
}
@font-face {
	font-family: Alien;
	src: url(10890.otf);
}
